body {
    text-align: center; /* Centrar el contenido */
}

#inicio {
    text-align: auto; /* Alinear el texto de inicio a la izquierda */
}

#Recetas {
    text-align: auto; /* Alinear el texto de recetas a la izquierda 
}

.card img {
    margin: 0 auto; /* Centrar la imagen dentro de la tarjeta */
}

.info {
    text-align: auto; /* Alinear el texto a la izquierda */
}
