/* CSS */
body {
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(150deg, #6C3483, #58d68d);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.username,
.password {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input,
.password input {
    width: 100%;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label,
.password label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before,
.password span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.username input:focus ~ label,
.password input:focus ~ label {
    top: -5px;
    color: #6C3483;
}

.username input:focus ~ span::before,
.password input:focus ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    padding: 10px; /* Incremento del tamaño del padding */
    margin-top: 20px; /* Añadir un espacio entre los campos y el botón */
    background-color: #6C3483; /* Cambiar el color de fondo */
    color: white; /* Cambiar el color del texto */
    border: 2px solid #6C3483; /* Añadir bordes */
    border-radius: 5px; /* Añadir bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: all 0.3s ease; /* Añadir transición suave */
}

input[type="submit"]:hover {
    background-color: #5B2C6F; /* Cambiar el color de fondo al pasar el ratón */
    border-color: #5B2C6F; /* Cambiar el color del borde al pasar el ratón */
}
